@import "../libraries/bootstrap/less/bootstrap.less";

@import "flexbox.less";
@import "variables.less";

.btn {

}

/* @group General */
body {
	margin: 0; padding: 0;
	font-size: 13px;
	background-color: #FFF;
	overflow: hidden;
	font-family: Arial, sans-serif; color: #333;
}

html, body { 
	width: 100%;
	min-height: 100%;
}

html, body { #flexbox .box(column, 1); }

ul { padding: 0; margin: 0; list-style: none; }

a { display: block; }

a:link    { color: #333; text-decoration: none; }
a:visited { color: #333; text-decoration: none; }
a:hover   { text-decoration: none; }

a[role="button"] {
	padding: 6px 12px 7px 12px;
	color: #666;
	font-weight: bold;
	border-radius: 2px;
	border: 1px solid #D9D9D9;
	#gradient .vertical(#F5F5F5,#F1F1F1);
}

a[role="button"]:hover {	
	color: #333;
	border: 1px solid #939393;
	.box-shadow(0 1px 1px rgba(0,0,0,0.1));
}

a[role="button"].blue {	
	color: white;		
	border: 1px solid #40796D;
	margin: 0 10px 0 15px;
	#gradient .vertical(@blue,darken(@blue, 10%));
}
a[role="button"].blue:hover {	
	border: 1px solid #2F5BB7;
	#gradient .vertical(@blue,darken(@blue, 20%));
}
/* @end group */

/* @group Layout */
#menu {
	#flexbox .box(row, 0);
	background-color: #565656;
	border-bottom: 1px solid #CCC;
	
	ul {
		#flexbox .box(row, 0);
		
		li {			
			a 			{ padding: 7px 10px; font-weight: bold; border-top: 2px solid #565656; }
			a:link    	{ color: #FFF; }
			a:visited 	{ color: #FFF; }
			a:hover   	{ background-color: #4C4C4C; border-top-color: #4C4C4C; }
			a.active	{ border-top: 2px solid @orange; }
		}
	}
}

#header {
	#flexbox .box();
	height: 30px;
	padding: 22px 0 22px 200px;
	background-color: #F1F1F1;
	border-bottom: 1px solid #E4E4E4;
	.box-shadow(0 2px 2px -1px rgba(0,0,0,0.1));
	
	input {
		font-size: 14px;
		height: 30px;
		width: 300px;
		background-color: white;
		padding: 3px 8px;
		box-sizing: border-box;
		color: #333;
		border: 1px solid rgba(0, 0, 0, 0.15);
	}
	
	a[role="button"] { text-transform: uppercase; }
}

#frame {
	#flexbox .box(row, 1);
	min-height: 100%;
	
	#sidebar {
		#flexbox .box(column, 0, scrollable);
		max-height: 100%;
		width: 180px;
		padding: 5px 0 0 20px;
		
		ul {
			margin-top: 15px;
			
			li {
				a    		{ margin-right: 4px; }
				a:link    	{ }
				a:visited 	{ }
				a:hover   	{ background-color: #EEE; }
				a.active  	{ color: @orange; font-weight: bold; }
			}
		}
	}
	
	#content {
		#flexbox .box(column, 1);
		background-color: #FFF;
		border-left: 1px solid #E4E4E4;
		min-height: 100%;
		
		div#toolbar {
			padding: 15px;
			.box-shadow(0 2px 2px -1px rgba(0,0,0,0.2));
			
			#flexbox .box(row, 0);
		}
		
		#table {
			#flexbox .box(column, 1);
			background-color: rgba(0,0,0,0.05);
			min-height: 100%;
			
			.inner {
				#flexbox .box(column, 1, scrollable);
				min-height: 100%;
				padding: 0 0 0 0;			
			
				table {
					width: 100%;
					border-spacing: 0;
					padding: 0;
					
					tr td { 
						border-bottom: 1px solid #DEDEDE;
						padding: 8px 2px;
					}
				}
				
			}
		}
	}
}
/* @end group */

/* @group Scrollbar */
.chrome #content { margin-left: 3px; }
.chrome #content .inner { margin-right: 4px; }

::-webkit-scrollbar {
	width: 6px;
	background-color: transparent;
}

::-webkit-scrollbar:disabled { background-color: red; margin: 0; width: 0; }
 
::-webkit-scrollbar-track {
	margin: 4px;
	background-color: transparent;
}
 
::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 4px;
}
/* @end group */